
.navbar{
    height: 70px;

}

.homediv{
    background-image: url("img/home1.jpg");
    color: rgb(244, 255, 255);
    height: 100vh;
    padding: 0;
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;  
}
.mtop{
    margin: 10% auto;
}
.minus{
    margin: -50px;
}
.homemessage h1{
    font-size: 3.5rem;
    font-weight: 400;
}
.homemessage span{
    font-weight: bolder;
}
.btn{
    border-radius: 0;
    color: rgb(244, 255, 255);
    background-color: rgb(0, 109, 103);
}
.btn:hover{
    border: 2px solid rgb(0, 109, 103);
}

.blogimg img{
    height: 20px;
    /* width: 50px; */
    /* background-color: aquamarine; */
}
.height100{
    height: 100%;
}
.height80{
    height: 100%;
}
.desc{
    font-size: 30px;
}
.serchInput{
    display: inline-block;
}
.blue{
    background-color: rgb(200, 233, 255);
}
.footerbg{
    color: rgb(244, 255, 255);
    background-image: url("img/home1.jpg");
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;  
}
.footLink{
    display: inline;
}